h1{
    color: white;
    background-color: red;
}
ul{
    text-decoration: underline;
}
div{
    background-color: red;
    color: white;
}
header{
    background-color: blue;
    padding: 5px;
    color: white;
    text-align: center;
}
