.banner{
    padding: 50px 140px 50px 140px;
    align-items: center;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    
}
/* p{
    text-align: center;
} */
.banrtxt1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: normal;
    /* display: flex; */
    margin-top: -400px;
    /* background-position: bottom; */

}
.banrtxt2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    /* font-style: normal; */
    font-weight: 900;
    line-height: 95px; /* 131.944% */ 
    margin-top: -20px;
    /* padding: 0px 340px 0px 340px; */
    /* display: flex; */
    text-align: center;
}
/* .bannertxt{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
} */
/* 65% off div */
.sec-div{
    margin 50px;
}
.offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;  
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 20px;
}
.nwyr-div > .nwyr-img{
    display: block;
    margin: auto;

    /* height: 800px;
    width: 500px; */
}
.nwyr-cvr > .party-img{
    display: block;
    margin: auto;

}
.nwyr-cvr{
    margin-top: 200px;
}
.nwyr-cvr > .grp-70{
    display: block;
    margin: -550px 0px 0px 1000px;
}

.place-txt > .place{
    margin: auto;
    text-align: center;
}
.place-txt{
    margin-top: 200px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.place > .clr-red{
    color: #F00;
}
.place-txt > .j-now{
    display: block;
    margin: auto;
    background-color: #F00;
    color: white;
    border-radius: none;
    border-color: #F00;

}

.round-div > .round-pic{
    display: block;
    margin: auto;
}

.round-div{
    margin-top: 200px;
    width: 1600px;
    height: 7335px;
}
/* .round-txt{
    text-align: left;
    
}
.round-txt > .nwyr-ofr{
    color: #F00;
    /* text-align: center; */
    /* font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 24px;
    margin-left: 30px;
}
.round-txt > .coming-soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 148px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 48px;
    margin-left: 60px;
}
.round-txt > .cmg-extra{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    /* margin-left: 20px;
    margin-left: 32px;
} */ */ */