.banner{
    padding: 50px 140px 50px 140px;
    align-items: center;
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    
}
/* p{
    text-align: center;
} */
.banrtxt1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: normal;
    /* display: flex; */
    margin-top: -400px;
    /* background-position: bottom; */

}
.banrtxt2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    /* font-style: normal; */
    font-weight: 900;
    line-height: 95px; /* 131.944% */ 
    margin-top: -20px;
    /* padding: 0px 340px 0px 340px; */
    /* display: flex; */
    text-align: center;
}
/* .bannertxt{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
} */
/* 65% off div */
.sec-div{
    margin 20px;
}