/* header styles */
header{
    padding: 30px 130px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}

nav > ul{
    display: flex;
    /* margin-top: 40px; */
}

nav  li{
    list-style: none;
    margin-right: 45px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 25px; */

}
.logo-text{
    display: flex;
}

.logo-img{
    width: 48px;
    height: 56.008px;
    /* margin-top: 25px; */
}
.logo-title{
    margin-left: 16px;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 5px;
}
 span{
    color: #FF5400;
 }