.banner-text{
    text-align: center;
    margin: auto;
    color: white;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
/* .banner-image{
    display: block;
    margin: auto;
} */
.img-div{
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 100%;
}